body {
    background-color: #D2D5E4;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;

        
    padding: 1rem;
    margin: 1rem;
}


#content_base{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding: 5rem;
    margin: 1rem;
    
}

.bgpic{
    padding-top: 7rem;
    padding-bottom: 3rem;
    border-radius: 1%;

}


.back_but {
    font-size: 200%; position: fixed; text-align: center;
    
    color: #b96eff;
    font-size: 200%;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #656674;
    color: rgb(229, 236, 250);
    text-align: center;
}

header {

        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: #656674;
        text-align: center;
}


h1 {
    color: #e9e9fc;
}

 h2, h3, h4 {
    color: #62636d;
}

a{
    color: #ff65e5;
}

a:hover{
    
    color: #e9e9fc;
}

.key_p {
    font-size: 150%;
    color: #9a28c7;
}



p{
    font-size: 125%;
    color: #62636d;
}

#foot_h4 {
    color: #e9e9fc;
}
.href_header {
    color: #e9e9fc;
    text-align: center;
    
}

.list_links{
    color: #9a28c7;
}