*, *::before, *::after{
    box-sizing: border-box;
}


body {
    background-color: #D2D5E4;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;

        
    padding: 1rem;
}

main {
    margin: 0.5rem;
    padding: 0.5rem;
}

#cont{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding: 5rem;
    margin: 1rem;
    
}

#pic{
    padding-top: 4.5rem;
    padding-bottom: 2rem;
    margin: 4.5rem;

}


.url {
    padding: 0.15rem;
    border-radius: 0.5rem;
    margin: 0.6rem;
}

.sub {
    border-radius: 0.5rem;
    margin: 2rem;
}

.success {
    padding-top: 1rem;
    padding-bottom: 0rem;
}



footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #656674;
    color: rgb(229, 236, 250);
    text-align: center;
    font-size: 150%;
}

header {

        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: #656674;
        text-align: center;
}


h1 {
    color: #e9e9fc;
}

 h2, h3, h4 {
    color: #62636d;
}

a{
    color: #ff65e5;
}

a:hover{
    
    color: #e9e9fc;
}

.key_p {
    font-size: 140%;
    color: #ae35df;
}



p{
    font-size: 125%;
    color: #62636d;
}



.list_links{
    color: #9a28c7;
    padding-bottom: 2rem;
}

.header_links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.home_h {
    padding: 1.5rem;
}

.links_h {
    padding: 1.5rem;
}